.checkout-page .cart-item-container,
.checkout-page .payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.checkout-page .cart-item-container {
  margin-bottom: 12px;
}

.checkout-page .cart-item-details-grid {
  display: grid;
  /* 100px 1fr 1fr; means the 2nd and 3rd column will
    take up half the remaining space in the grid
    (they will divide up the remaining space evenly). */
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .checkout-page .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.checkout-page .product-image {
  max-width: 100%;
  max-height: 120px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.checkout-page .product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.checkout-page .product-price {

  font-weight: 700;
  margin-bottom: 5px;
}

.checkout-page .product-quantity .link-primary {
  margin-left: 3px;
}