.checkout-page .payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .checkout-page .payment-summary {
    /* grid-row: 1 means this element will be placed into row
      1 in the grid. (Normally, the row that an element is
      placed in is determined by the order of the elements in
      the HTML. grid-row overrides this default ordering). */
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.checkout-page .payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.checkout-page .payment-summary-row {
  display: grid;
  /* 1fr auto; means the width of the 2nd column will be
     determined by the elements inside the column (auto).
     The 1st column will take up the remaining space. */
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.checkout-page .payment-summary-money {
  text-align: right;
}

.checkout-page .subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.checkout-page .subtotal-row div {
  padding-top: 9px;
}

.checkout-page .total-row {
  color: rgb(25, 135, 84);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.checkout-page .place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;

  margin-top: 20px;
  margin-bottom: 19px;
}