.orders-page .order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(222, 222, 222);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}

@media (max-width: 800px) {
  .orders-page .order-details-grid {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px) {
  .orders-page .order-details-grid {
    grid-template-columns: 1fr;
  }
}