.orders-page .order-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.orders-page .order-header-left-section {
  display: flex;
  flex-shrink: 0;
}

.orders-page .order-header-label {
  font-weight: 700;
}

.orders-page .order-date,
.orders-page .order-total {
  margin-right: 45px;
}

.orders-page .order-header-right-section {
  flex-shrink: 1;
}

@media (max-width: 575px) {
  .orders-page .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .orders-page .order-header-left-section {
    flex-direction: column;
  }

  .orders-page .order-header-label {
    margin-right: 5px;
  }

  .orders-page .order-date,
  .orders-page .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .orders-page .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}